/* 
color: #faf0e6;	off white
color:#fff0db;	kerma
color: #eed9c4;	kylmä beige
color: #e4d5b7;	vihertävä
color: #d9b99b; tummempi beige
color: #2c2b29; tumma harmaa/musta 

tumma harmaa: #292828;
*/

/* FONTIT:
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sen', sans-serif;
*/


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
} 

/* Bohemio-banneri*/
#otsikko {
  color: #fff;
  background-color: #292828;
  text-align: center;
  /* margin-top: 20px; */
  padding: 30px;
}

/* Navigaatiopalkin tyyli */
#navigaatio {
  background-color: #D8CAC5;
  margin-bottom: 0.5em;
}

/* #banneri {
  background-image: url(./images/bohemio-banneri.png);
 
 height: 200px;
 width: 100%;
 background-size: center;
 background-position: fixed;
 margin:0;

 display: block;

}  */


h3 {
  text-align: center;
  margin: 40px;
  font-family: 'Sen', sans-serif;
}

h2 {
  font-family: 'Sen', sans-serif;
}

/* Footerin tyylit */
footer .container {
  margin-top: 0;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Navbarin linkkien tyylejä*/
.nav-link {
  color: #070707;
}

.nav-link:hover {
  background-color: #faf0e6;
}

.nav-link:visited {
  color: #0b0c0c;
}

/*products-osiossa kuvien määrittely*/
#kuvakoko {
  width: 100%;
  padding: 20px;
}
/*yhden tuotteen avatessa,kuvan määrittely*/
#kuvakoko2 {
  width: 100%;
}

/* Tuotteiden nimien keskitys products.js sivulla*/
#tuotteet {
  text-align: center;
}

/* Tuotteiden nimien linkit products.js sivulla*/
a {
  color: #0a0a0a;
  text-decoration: none;
}
a:hover {
  color: #d9b99b;
}

/*Tyhjennä ostoskori/poista tuote nappien tyylit */
#ostoskori:hover {
  text-decoration: underline;
}

/* Ostoskorin leveys */
#ordersivu {
  width: 80%;
}

/* @media screen and (max-width: 1200px) {
  .parallax {
      background-attachment: scroll;
  }
  
  .text {
      padding: 30px 10px 30px 10px;
      position: relative;
  }     
}  */

#login {
  padding-top:50px;
  padding-bottom: 70px;
  width: 30%;
  margin: auto;
}
