/* 
color: #faf0e6;	off white
color:#fff0db;	kerma
color: #eed9c4;	kylmä beige
color: #e4d5b7;	vihertävä
color: #d9b99b; tummempi beige
color: #2c2b29; tumma harmaa/musta 

tumma harmaa: #292828;
*/

/* FONTIT:
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sen', sans-serif;
*/


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
} 

/* #banneritausta {
  background-color: chartreuse;
} */

#otsikko {
  color: #fff;
  background-color: #292828;
  text-align: center;
  /* margin-top: 20px; */
  padding: 30px;
}

#navigaatio {
  background-color: #D8CAC5;
  margin-bottom: 0.5em;
}

/* #banneri {
  background-image: url(./images/bohemio-banneri.png);
  width: 100%;
  height: 200px;
  background-size: center;
  background-position: fixed;
  margin:0;

  display: block;
}  */

h3 {
  text-align: center;
  margin: 40px;
  font-family: 'Sen', sans-serif;
}

h2 {
  font-family: 'Sen', sans-serif;
}

#text {
  margin: 50px;
}

footer .container {
  margin-top: 0;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.nav-link {
  color: #0b0c0c;
}

.nav-link:hover {
  background-color: #faf0e6;
}

/* .nav-link:visited {
  color: #161b1a;
} */

.text-right {
  text-align: right;
}

#kuvakoko {
  width: 100%;
  padding: 20px;
}

#kuvakoko2 {
  width: 100%;
}

#tuotteet {
  text-align: center;
}

a {
  color: #0a0a0a;
  text-decoration: none;
}
a:hover {
  color: #d9b99b;
}

.cart.a:hover {
  color: pink;
}
