/* 
color: #faf0e6;	off white
color:#fff0db;	kerma
color: #eed9c4;	kylmä beige
color: #e4d5b7;	vihertävä
color: #d9b99b; tummempi beige
color: #2c2b29; tumma harmaa/musta 
*/

#navigaatio {
  background-color: #eed9c4;
}

#banneri {
  background-image: url(./images/bohemio-banneri.png);
  width: 100%;
  height: 200px;
  background-size: center;
  background-position: fixed;
  margin:0;

  display: block;
} 

h3 {
  text-align: center;
  margin: 40px;
}

#text {
  margin: 50px;
}

footer .container {
  margin-top: 0;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.nav-link {
  color: #161b1a;
}

.nav-link:hover {
  background-color: #D8CAC5;
}

.nav-link:visited {
  color: #161b1a;
}

button.add {
  background-color: #40c0f0;
  width: 1.5rem;
  margin: 1em;
}

button.remove {
  background-color: #f04040;
  width: 1.5rem;
  margin: 1em;
}

button.badge {
  background-color: #f04040;
  border: none;
  color: white;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}

#kuvakoko {
  max-width: 25%;
}

#kuvakoko2 {
  width: 100%;
}


